:root{
    --dark-blue-color: #212934;
    --footer-color: #1d242d;
    --green-color: #59ab6e;
    --inactive-green-color: #a4cdaf;
    --section-grey-color: #efefef;
    --secondary-grey-color: #e9eef5;
    --yellow-color: #ede861;
    --dark-grey-color: #bcbcbc;
    --border-color: rgb(45, 52, 63);
    --placeholder-color: #e9eef551;
    --focus-color: #1c3b66;
    --black-color: black;
    --white-color: white;
    --transition: 0.4s;
    --border-radius: 5px;
    --border-radius-2: 50%;
    --padding: 60px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
input:focus{
    outline: none;
}
.container .head{
    text-align: center;
    margin-bottom: 50px;
}
.container .head h3{
    font-weight: 200;
    font-size: 50px;
}
.container .head p{
    font-size: 22px;
    font-weight: 300;
}
.rate{
    color: var(--yellow-color) !important;
}
/* globle values  */
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* globle values  */
/* start first-nav  */
nav.first-nav{
    background-color: var(--dark-blue-color);
}
nav.first-nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
nav.first-nav .container{
    font-size: 12px;
}
nav.first-nav .container i{
    color: var(--secondary-grey-color);
}
nav.first-nav .container .contact span {
    margin-right: 5px;
}
nav.first-nav .container .contact span a{
    color: var(--secondary-grey-color);
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
    margin-left: 5px;
}
nav.first-nav .container .contact span:hover a{
    color: var(--green-color);
}
nav.first-nav .container .icons i{
    margin-right: 5px;
    cursor: pointer;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}
nav.first-nav .container .icons i:hover{
    color: var(--green-color);
}
@media (max-width:992px) {
    nav.first-nav{
        display: none;
    }
}
/* end first-nav  */
/* start second nav  */
nav.second-nav{
    height: 93.73px;
}
nav.second-nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav.second-nav .container .logo{
    width: 90px;
}
nav.second-nav .container nav .icon{
    width: 40px;
    height: 35px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    cursor: pointer;
    display: none;
}
nav.second-nav .container nav .icon >span{
    background-color: var(--green-color);
    width: 100%;
    height: 3px;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
    border-radius: var(--border-radius);
    -webkit-border-radius: var(--border-radius);
    -moz-border-radius: var(--border-radius);
    -ms-border-radius: var(--border-radius);
    -o-border-radius: var(--border-radius);
}
nav.second-nav .container nav .icon >span:first-child{
    width: 20px;
}
nav.second-nav .container nav .icon >span:last-child{
    width: 20px;
    align-self: flex-end;
}
nav.second-nav .container nav .icon:hover >span{
    width: 100%;
}
nav.second-nav .container nav{
    display: flex;
    flex-grow: .4 ;
    justify-content: space-between;
}
nav.second-nav .container nav >ul{
    display: flex;
}
nav.second-nav .container nav li{
    cursor: pointer;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}
nav.second-nav .container nav li:hover,
nav.second-nav .container nav li:hover >a{
    color: var(--green-color);
}
nav.second-nav .container nav li a{
    color: var(--black-color);
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}
nav.second-nav .container nav >ul.header li{
    color: var(--black-color);
    font-weight: 300;
    padding-right: 100px;
    font-size: 20px;
}
nav.second-nav .container nav >ul.alt li{
    padding-right: 30px;
    font-size: 20px;
    position: relative;
}
nav.second-nav .container nav >ul.alt li:nth-child(2)::after,
nav.second-nav .container nav >ul.alt li:nth-child(3)::after{
    position: absolute;
    top: -10px;
    right: 16px;
    background-color: var(--secondary-grey-color);
    font-size: 10px;
    padding: 5px 10px;
    border-radius: var(--border-radius-2);
    -webkit-border-radius: var(--border-radius-2);
    -moz-border-radius: var(--border-radius-2);
    -ms-border-radius: var(--border-radius-2);
    -o-border-radius: var(--border-radius-2);
}
nav.second-nav .container nav >ul.alt li:nth-child(2)::after{
    content: "7";
}
nav.second-nav .container nav >ul.alt li:nth-child(3)::after{
    content: "+99";
    top: -12px;
    right: 8px;
}
@media (max-width:768px) {
    nav.second-nav .container nav{
        flex: 0;
    }
    nav.second-nav .container nav ul{
        display: none;
    }
    nav.second-nav .container nav{
        justify-content: flex-end;
        position: relative;
        /* padding-bottom: 5px; */
    }
    nav.second-nav .container nav .icon{
        display: flex;
        justify-self: flex-end;
    }
    nav.second-nav .container nav:hover ul{
        display: flex;
        position: absolute;
        top: 105%;
        right: 0;
        background-color: var(--white-color);
        text-align: center;
        border-radius: var(--border-radius);
        -webkit-border-radius: var(--border-radius);
        -moz-border-radius: var(--border-radius);
        -ms-border-radius: var(--border-radius);
        -o-border-radius: var(--border-radius);
        border: 1px solid var(--secondary-grey-color);
        box-shadow: 10px 10px 52px 2px rgba(0,0,0,0.06);
}
    nav.second-nav .container nav:hover ul.header{
        padding-bottom: 50px;
        flex-direction: column;
    }
    nav.second-nav .container nav:hover ul.alt{
        flex-direction: row;
        top: 820%;
        right: 17px;
        padding: 5px;
    }
    nav.second-nav .container nav:hover ul.alt li{
        padding: 5px 10px ;
    }
    nav.second-nav .container nav:hover ul.header li{
        padding: 20px 50px;
    }
    nav.second-nav .container nav:hover ul.header li:hover{
        padding: 20px 40px 20px 60px;
    }
    nav.second-nav .container nav >ul.alt li:nth-child(2)::after{
        top: -7px;
        right: -2px;
    }
    nav.second-nav .container nav >ul.alt li:nth-child(3)::after{
        top: -7px;
        right: -11px;
    }
}
@media (max-width:1200px) {
    nav.second-nav .container nav >ul.header li{
        padding-right: 50px;
    }
}
/* end second nav  */
/* start home  */
.home{
    background-color: var(--section-grey-color);
    /* height: calc(100vh - (93.73px + 33.79px)); */
    padding-top: var(--padding);
    padding-bottom: var(--padding);
    position: relative;
}
.home .container{
    display: flex;
    justify-content: space-around;
}
.home .container .text{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.home .container .text h4{
    color: var(--green-color);
    font-size: 55px;
    font-weight: 200;
    margin-bottom: 10px;
}
.home .container .text h5{
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 10px;
}
.home .container .text p{
    line-height: 1.8;
}
.home .container .img img{
    width: 400px;
}
.home  i.right,
.home  i.left{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    right: 20px;
    color: var(--inactive-green-color);
    font-size: 50px;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
    cursor: pointer;
    width: fit-content;
}
.home  i.left{
    left: 20px;
}
.home  i.right:hover{
    color: var(--green-color);
}
.home  i.left:hover{
    color: var(--green-color);
}
.home .slider{
    position: absolute;
    width: 130px;
    height: 20px;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.home .slider span{
    width: 35px;
    height: 4px;
    background-color: var(--inactive-green-color);
    border-radius: var(--border-radius);
    -webkit-border-radius: var(--border-radius);
    -moz-border-radius: var(--border-radius);
    -ms-border-radius: var(--border-radius);
    -o-border-radius: var(--border-radius);
    display: block;
}
.home .slider span.active{
    background-color: var(--green-color);
}
@media (max-width:821px) {
    .home  i.right,
    .home  i.left{
        display: none;
    }
}
@media (max-width:768px) {
    .home .container{
        flex-direction: column;
        align-items: center;
    }
    .home .container .text{
        text-align: center;
        width: 100%;
    }
    .home .container .img img{
        width: 300px;
    }
}
/* end home  */
/* start categories  */
.categ{
    padding-top: var(--padding);
    padding-bottom: var(--padding);
}
.categ .container .items img{
    width: 100px;
}
.categ .container .items{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.categ .container .items .box {
    width: 300px;
    padding: 10px ;
    margin-bottom: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
    border-radius: var(--border-radius);
    -webkit-border-radius: var(--border-radius);
    -moz-border-radius: var(--border-radius);
    -ms-border-radius: var(--border-radius);
    -o-border-radius: var(--border-radius);
}
.categ .container .items .box:hover{
    box-shadow: 10px 10px 52px -4px rgba(0,0,0,0.12);
}
.categ .container .items .box:hover .img img{
    transform: scale(1.1) rotate(10deg);
    -webkit-transform: scale(1.1) rotate(10deg);
    -moz-transform: scale(1.1) rotate(10deg);
    -ms-transform: scale(1.1) rotate(10deg);
    -o-transform: scale(1.1) rotate(10deg);
}
.categ .container .items .box:hover button{
    background-color: var(--green-color);
}
.categ .container .items .box .img{
    width: 280px;
    height: 280px;
    overflow: hidden;
    border-radius: var(--border-radius-2);
    -webkit-border-radius: var(--border-radius-2);
    -moz-border-radius: var(--border-radius-2);
    -ms-border-radius: var(--border-radius-2);
    -o-border-radius: var(--border-radius-2);
}
.categ .container .items .box .img img{
    width: 100%;
    height: 100%;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}
.categ .container .items .box figcaption{
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.categ .container .items .box a{
    background-color: var(--inactive-green-color);
    color: var(--white-color);
    border: none;
    cursor: pointer;
    font-size: 22px;
    padding: 10px 15px ;
    border-radius: var(--border-radius);
    -webkit-border-radius: var(--border-radius);
    -moz-border-radius: var(--border-radius);
    -ms-border-radius: var(--border-radius);
    -o-border-radius: var(--border-radius);
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}
.categ .container .items .box a:hover{
    background-color: var(--green-color);
}
/* end categories  */
/* start product  */
.product{
    background-color: var(--secondary-grey-color);
    padding-top: var(--padding);
    padding-bottom: var(--padding);
}
.product .prod{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 100px;
}
.product .prod .box{
    width: 320px;
    margin-bottom: 20px;
    height: fit-content;
    overflow: hidden;
    background-color: var(--white-color);
    border-radius: var(--border-radius);
    -webkit-border-radius: var(--border-radius);
    -moz-border-radius: var(--border-radius);
    -ms-border-radius: var(--border-radius);
    -o-border-radius: var(--border-radius);
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}
.product .prod .box .img{
    width: 100%;
    height: 50%;
}
.product .prod .box .img img{
    width: 100%;
    height: 100%;
}
.product .prod .box .info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 15px;
}
.product .prod .box .info .first{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.product .prod .box .info .first .rating ul{
    display: flex;
}
.product .prod .box .info .first .rating ul li{
    margin-right: 5px;
}
.product .prod .box .info .first .rating ul li i{
    color: var(--dark-grey-color);
}
.product .prod .box .info .first .prices {
    color: var(--dark-grey-color);
}
.product .prod .box .info .second h3{
    font-size: 28px;
    font-weight: 300;
    margin-bottom: 8px;
}
.product .prod .box .info .second p{
    font-weight: 300;
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 20px;
}
.product .prod .box .info .third p{
    color: var(--dark-grey-color);
}
@media (max-width:1200px) {
    .product .prod .box{
        margin-top: 0 !important;
    }
}
/* end product  */
/* start footer links */
.footer{
    background-color: var(--dark-blue-color);
    padding-top: var(--padding);
    padding-bottom: var(--padding);
}
.footer .container{
    display: flex;
    flex-direction: column;
}
.footer .container .web-links{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid var(--border-color);
}
.footer .container .web-links .box{
    width: calc(90% / 3);
}
.footer .container .web-links .box .header{
    border-bottom: 1px solid var(--border-color);
}
.footer .container .web-links .box .header p{
    font-size: 35px;
    padding: 0 0 20px 0;
    color: var(--secondary-grey-color);
}
.footer .container .web-links .box:first-child .header p{
    color: var(--green-color);
}
.footer .container .web-links .box .links ul{
    padding: 15px 0;
}
.footer .container .web-links .box .links ul li{
    margin: 15px 0;
    color: var(--secondary-grey-color);
}
.footer .container .web-links .box .links ul li i{
    margin-right: 10px ;
    color: var(--secondary-grey-color);
}
.footer .container .web-links .box .links ul li a{
    color: var(--secondary-grey-color);
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}
.footer .container .web-links .box .links ul li a:hover{
    color: var(--green-color);
}
.footer .container .web-icons {
    display: flex;
    justify-content: space-between;
    padding: 30px 0 0 0;
}
.footer .container .web-icons .icons ul{
    display: flex;
    justify-content: space-between;
}
.footer .container .web-icons .icons ul li{
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius-2);
    -webkit-border-radius: var(--border-radius-2);
    -moz-border-radius: var(--border-radius-2);
    -ms-border-radius: var(--border-radius-2);
    -o-border-radius: var(--border-radius-2);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    cursor: pointer;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}
.footer .container .web-icons .icons ul li i{
    font-size: 24px;
    color: var(--secondary-grey-color);
    transform: var(--transition);
    -webkit-transform: var(--transition);
    -moz-transform: var(--transition);
    -ms-transform: var(--transition);
    -o-transform: var(--transition);
}
.footer .container .web-icons .icons ul li:hover{
    background-color: var(--secondary-grey-color);
}
.footer .container .web-icons .icons ul li:hover i{
    color: var(--dark-blue-color);
}
.footer .container .web-icons .search .input input{
    padding: 10px 30px 10px 15px;
    background-color: transparent;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius) 0 0 var(--border-radius);
    -webkit-border-radius: var(--border-radius) 0 0 var(--border-radius);
    -moz-border-radius: var(--border-radius) 0 0 var(--border-radius);
    -ms-border-radius: var(--border-radius) 0 0 var(--border-radius);
    -o-border-radius: var(--border-radius) 0 0 var(--border-radius);
    color: var(--secondary-grey-color);
    cursor: pointer;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}
.footer .container .web-icons .search .input input:focus:invalid{
    outline-color: red;
}
.footer .container .web-icons .search .input input:focus{
    outline: 3px solid var(--focus-color);
}
.footer .container .web-icons .search .input input::placeholder{
    color: var(--placeholder-color);
    letter-spacing: 2px;
}
.footer .container .web-icons .search .input button{
    color: var(--secondary-grey-color);
    background-color: var(--green-color);
    padding: 10px;
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    -webkit-border-radius: 0 var(--border-radius) var(--border-radius) 0;
    -moz-border-radius: 0 var(--border-radius) var(--border-radius) 0;
    -ms-border-radius: 0 var(--border-radius) var(--border-radius) 0;
    -o-border-radius: 0 var(--border-radius) var(--border-radius) 0;
    border: none;
    display: inline-block;
    cursor: pointer;
    margin: 0 0 0 -4px;
}
@media (max-width:768px) {
    .footer .container .web-links{
        flex-direction: column;
        margin: auto;
        width: 80%;
    }
    .footer .container .web-links .box{
        width: 100%;
        margin-bottom: 20px;
    }
    .footer .container .web-icons{
        flex-direction: column;
        margin: auto;
    }
    .footer .container .web-icons .icons{
        margin-bottom: 20px;
    }
    .footer .container .web-icons .search .input input{
        padding: 10px 35px 10px 15px;
    }
}
/* end footer links */
/* start last-footer  */
footer{
    background-color: var(--footer-color);
    text-align: center;
    color: var(--secondary-grey-color);
    padding: 20px 0;
    word-spacing: 3px;
    letter-spacing: 2px;
}
/* end last-footer  */