:root{
    --green-color: #59ab6e;
    --inactive-green-color: #a4cdaf;
    --dark-blue-color: #212934;
    --white-color: white;

}
::-webkit-scrollbar{
    background-color: unset;
}
::-webkit-scrollbar-thumb{
    background-color: var(--inactive-green-color);
}
::-webkit-scrollbar-thumb:hover{
    background-color: var(--green-color);
}
::selection{
    background-color: var(--green-color);
    color: var(--white-color);
}